:root {
    font-family: 'Montserrat', sans-serif;
    --mainGrey: rgb(140, 148, 148);
}

.modal {
    width: 100vw;
    height: 100vh;
    position: fixed;
    background-color: rgba(255, 255, 255, 0.109);
    -webkit-backdrop-filter: blur(5px);
    backdrop-filter: blur(5px);
    justify-self: center;
    overflow: visible;
    align-self: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

.hide {
    display: none;
}

body {
    background-color: rgb(42, 36, 36);
    margin: 0px;
    padding: 0px;
    width: 100vw;
    color: var(--mainGrey);
    font-size: 2rem;
}

.page {
    display: flex;
    flex-direction: column;
    background-color: rgb(46, 46, 46);
    width: 100vw;
    height: 100vh;
    align-items: center;
}

.modalBox {
    height: 60vh;
    width: min-content;
    background-color: rgb(16, 16, 16);
    
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    border: 3px solid black;
    border-radius: 10px;
    padding: 20px;
    gap: 20px;
}

.modalBox > h2 {
    margin: 0px;
}

.title {
    font-size: 50px;
    font-weight: 600;
    margin-top: 20px;
}

.field {
    width: 300px;
    height: 36px;
    border: 2px solid rgb(4, 118, 143);
    background-color: black;
    color: whitesmoke;
    border-radius: 20px;
    padding-left: 15px;
    font-size: 20px;
}

.field:focus {
    border-color: rgb(9, 193, 234);
    outline: none;
}

.button {
    margin-top: 20px;
    width: 150px;
    height: 40px;
    background-color: black;
    color: var(--mainGrey);
    font-size: 20px;
    border-radius: 20px;
    border: 0px solid black;
}

.button:hover {
    border: 2px solid rgb(4, 118, 143);
}

.check {
    filter: invert(100%);
    height: 30px;
    width: 40px;
}

label {
    font-size: 20px;
    color: var(--mainGrey);
}

.grid {
    display: grid;
    grid-template-columns: 1fr min-content;
    grid-template-rows: min-content;
    row-gap: 20px;
    align-items: center;
    column-gap: 15px;
}