.modal {
    width: 35vw;
    height: 60vh;
    position: fixed;
    background-color: rgb(103, 103, 103);
    justify-self: center;
    align-self: center;
}

.modal:hover {
    display: none;
}

body {
    background-color: rgb(42, 36, 36);
    margin: 0px;
    padding: 0px;
    width: 100vw;
    color: white;
    font-size: 2rem;
}

.page {
    display: flex;
    flex-direction: column;
    background-color: rgb(67, 56, 56);
    width: 100vw;
    height: 100vw;
}